<!-- http://127.0.0.1:8000/accounts/google/login/ -->
<!-- 구글 로그인 창 templates/socialaccounts/login.html -->

{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}

<!-- 원본html에서 중간 메시지를 삭제하긴 했는데 새로고침하면 메시지가 다시 뜸 완전 삭제하려면 메뉴 메시지 등을 띄우는 html 수정 및 오버라이딩 필요-->

{% block content %}
    {% if process == "connect" %}
        {% element h1 %}
            {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
        {% endelement %}
        {% element p %}
            {% blocktrans with provider.name as provider %}{{ provider }} 계정으로 로그인 합니다.{% endblocktrans %}
        {% endelement %}
    {% else %}
        {% element h1 %}
            {% blocktrans with provider.name as provider %}{{ provider }} 계정 연동 로그인{% endblocktrans %}
        {% endelement %}
        {% element p %}
            {% blocktrans with provider.name as provider %}{{ provider }}을 사용하여 로그인하려고 합니다.{% endblocktrans %}
        {% endelement %}
    {% endif %}
    {% element form method="post" no_visible_fields=True %}
        {% slot actions %}
            {% csrf_token %}
            {% element button type="submit" %}
                {% trans "구글 로그인" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock content %}
